/* In the name of ALLAH!
Mahdi Salehi */

.brick-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  min-width: 80%;
  margin-top: 60px;
}